* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-page: #FFEDD5;
  --bg-title: #FED7AA;
  --coffee-text: #995000;
  --color-text: #2D2C2A;
  --text-primary: #000000;
}
body {
  background-color: var(--bg-page);
  background-image: url(./louis-hansel-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}
ul {
  list-style: none;
}
h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: 14px;
  font-weight: 400;
}

header {
  padding: 32px 0;
  text-align: center;
}
header,
section {
  max-width: 300px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px); 
}
header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}
header h1 span {
  color: var(--coffee-text);
}
header p {
  color: var(--text-primary);
  opacity: .7;
  line-height: 16px;
}

section {
  margin-bottom: 24px;
}
section h2 {
  background-color: var(--bg-title);
  font-size: 18px;
  margin-bottom: 24px;
  padding: 8px 16px;
  text-align: center;
}
.description {
  color: var(--text-primary);
  opacity: .6;
  line-height: 21px;
}

ul li {
  margin-bottom: 16px;
  display: flex;
  padding: 0 1rem;
}
li .details {
  max-width: 240px;
}

.details h3 {
  font-size:  16px;
  line-height: 19px;
  margin-bottom: 8px;
}

footer{
  color: white;
  text-align: right;
  padding-right: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}